<!DOCTYPE html>
<html lang="es">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto - Black Project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styleInicio.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="tittle">Contáctenos</h1>
        <p class="lead">
            En Black Project estamos siempre atentos a las necesidades de nuestros aliados y del público en general. No dude en solicitar nuestra asesoría, contamos con un equipo altamente capacitado para resolver sus inquietudes.
        </p>
        <p>
            Escríbanos ahora: <a class="link" href="mailto:info@blackproject.com">info@blackproject.com</a>
        </p>
        <p>
            Contáctenos a nuestra línea de atención 24/7: <a class="link" href="tel:+573122382849">+57 312 238 28 49</a>
        </p>
        <hr>
        <div class="botton">
            <a href="/" class="btn-1">Inicio</a>
            <a href="nosotros" class="btn-2">Nosotros</a>
            <a href="persona" class="btn-3">Registrar Empleado</a>
        </div>
    </div>
</body>
</html>