<!DOCTYPE html>
<html lang="es">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido - Black Project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styleInicio.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="tittle">Bienvenido a Black Project</h1>
        <p class="lead">
            En Black Project transformamos datos en oportunidades. A través de la Rueda de la Vida, evaluamos el bienestar de tu equipo para potenciar su desarrollo profesional y personal.
        </p>
        <p>
            Aplicamos analítica de datos, inteligencia artificial y metodologías ágiles para ayudarte a tomar decisiones estratégicas basadas en información real.
        </p>
        <hr>
        <div class="botton">
            <a href="nosotros" class="btn-1">Nosotros</a>
            <a href="persona" class="btn-2">Registrar Empleado</a>
            <a href="resultados" class="btn-3">Ver Resultados</a>
            <a href="contacto" class="btn-4">Contacto</a>
        </div>
    </div>
</body>
</html>
