<!DOCTYPE html>
<html lang="es">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¿Quiénes somos? - Black Project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styleNosotros.css') }}">

</head>
<body>
    <div class="container">            
        <h1 class="tittle">¿Quiénes somos?</h1>
        <div class="back-container">
            <a href="/" class="back-icon">&#8592;</a> <!-- Flecha izquierda como icono -->
        </div>   
        <p class="lead">
            Black Project es una empresa localizada en Medellín, Antioquia, Colombia. Nos especializamos en el sector de TI, brindando experiencias transformadoras mediante la adopción de herramientas de Inteligencia Artificial para la mejora continua de las organizaciones.
        </p>
        <hr>
        <div class="mt-4">
            <a href="persona" class="btn-2">Registrar Empleado</a>
        </div>
    </div>
</body>
</html>
